.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  
  .modal-input {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .button {
    background-color: #4caf50;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close-button {
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }